<nav class="sticky top-0 w-full py-2 px-6 sm:px-12 flex items-center justify-between shadow-sm">
    <a href="{{ url_for('printing.index') }}">
        <img 
            src="{{ url_for('static', filename='img/hyacinth-logo-300x300.svg') }}"
            width="48"
            class="inline"
        />
    </a>
    {% if context.is_authenticated %}
        <div class="rounded-md bg-green-400 px-5 py-2 font-light">
            <i class="fa-solid fa-check mr-2"></i>
            Logged In
        </div>
    {% else %}
        <a href="{{ url_for('auth.login') }}" class="rounded-md font-light bg-hyacinth-secondary px-5 py-2 transition duration-200 hover:bg-[#e0d6c3]">
            <i class="fa-solid fa-right-to-bracket mr-2"></i>
            Log In
        </a>
    {% endif %}
</nav>